<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="section-bring.css">
    <title>Progress</title>
</head>
<body>
    <section class="bring">
        <h1>Bring Your Own Business</h1>
        <div class="bring__content">
            <div class="bring__content__group">
                <div class="bring__content__group__icons-1">
                    <img class="bring__icon" src="img/icon_pliers.png" alt="pliers">
                    <img class="bring__icon" src="img/icon_flower.png" alt="flower">
                </div>
                <div class="bring__content__group__icons-2">
                    <img class="bring__icon" src="img/icon_bug.png" alt="bug">
                    <img class="bring__icon" src="img/icon_tools.png" alt="tools">
                </div>
            </div>
                <div class="bring__content__phone">
                    <img src="img/phone.png" alt="mobile phone">
                </div>
            <div class="bring__content__group">     
                <div class="bring__content__group__icons-3">
                    <img class="bring__icon" src="img/icon_tombstone.png" alt="tombstone">
                    <img class="bring__icon" src="img/icon_notebook.png" alt="notebook">
                </div>
                <div class="bring__content__group__icons-4">
                    <img class="bring__icon" src="img/icon_gear.png" alt="machine gear">
                    <img class="bring__icon" src="img/icon_leaf.png" alt="leaf">
                </div>
            </div>
        </div>
    </section>
</body>
</html>