<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Progress</title>
</head>
<body>
    <section class="bring">
        <h1>Bring Your Own Business</h1>
        <div class="bring-group1">
            <img src="icon_pliers.png">
            <img src="icon_flower.png">
        </div>
        <div class="bring-group2">
            <img src="icon_bug.png">
            <img src="icon_tools.png">
        </div>
        <div class="bring-group3">
            <img src="icon_tombstone.png">
            <img src="icon_notebook.png">
        </div>
        <div class="bring-group4">
            <img src="icon_gear.png">
            <img src="icon_leaf.png">
        </div>
        <img src="celular">
        <h1>Flexible Plataform</h1>
        <p>We are an industry agnostic plataform. If you can track it, you can Progress it!Progress makes it easy for service providers to connect directly with thei customers.</p>
    </section>
</body>
</html>