<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="feature.css" rel="stylesheet">
</head>

<body>
    <section class="section-feature">
        <article class="feature">
            <section class="description">
                <h2>Track projects easily</h2>
                <p>Providers can give updates, share status, request updates, and require payments in one, efficient tool. Simples,
                    easy, progress.</p>
            </section>
            <img src="img/feature1.png" alt="chat feature">
            <section class="description">
                <h2>Clear communication</h2>
                <p>Progress allows direct communication bewtween the consumer and service provider. No more waiting for call
                    backs, missing emails, or lost paperwork.</p>
            </section>
        </article>
        <article class="feature">
            <img src="img/feature2.png" alt="report feature">
            <section class="description">
                <h2>Estimate, approve, pay</h2>
                <p>The major steps of a service job are made simple with Progress. In one location, information and updates
                    on project estimates and scopes of work are shared between provider and consumer.</p>
            </section>

        </article>
    </section>
</body>

</html>