*, *::after, *::before {

margin: 0;
padding: 0;
box-sizing: border-box;

}

header{
    width: 100%;
    background-color: #00d775;

}

.hero, header{
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero{
    width: 65%;
}

.hero__logo {
    border: none;
    width: 100%;    
}

.hero__descricao {

    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    padding: 0 45px;

}

.hero__imgmobile {

    width: 60%;
    margin-top: 10%;
}


@media screen and (min-width: 768px){

    header {
       flex-direction: row;
       justify-content: space-around;
    }
    .hero__imgmobile, .hero{
        width: 45%;

    }
    .hero__descricao{
        text-align: left;
    }

 /* 1024 2560 */

}