<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexible</title>
    <link rel="stylesheet" href="flexible.css">
</head>
<body>
    <section class="flexible">
        <h3 class="flexible__title">Flexible Platform</h3>
        <p class="flexible__text">
            We are an industry agnostic platform. If you can track it, you can Progress it!
            Progress makes it easy for service providers to connect directly with their costumes.
        </p>
        <form action="" class="form">
            <input type="email" name="email" id="email" class="form__input" placeholder="Add your email address">
            <button type="submit" class="form__button">invite me</button>
        </form>

        <div class="twitter">
            <p class="twitter__text">
                Follow along on Twitter for all the latest news! <span class="twitter__link">@Progress_App</span>
            </p>
        </div>
    </section>
</body>
</html>